[submodule "executor/msccl-executor-nccl"]
	path = executor/msccl-executor-nccl
	url = https://github.com/Azure/msccl-executor-nccl.git
	branch = main
[submodule "tests/msccl-tests-nccl"]
	path = tests/msccl-tests-nccl
	url = https://github.com/Azure/msccl-tests-nccl.git
	branch = main
[submodule "scheduler/msccl-scheduler"]
	path = scheduler/msccl-scheduler
	url = https://github.com/Azure/msccl-scheduler
